/BonaVirtualGamePad/BonaVirtualGamePad.ClientDriver/obj
/BonaVirtualGamePad/BonaVirtualGamePad.ClientDriver/bin
/BonaVirtualGamePad/BonaVirtualGamePad.ServerDriver/bin
/BonaVirtualGamePad/BonaVirtualGamePad.ServerDriver/obj
/BonaVirtualGamePad/BonaVirtualGamePad.Shared/bin
/BonaVirtualGamePad/BonaVirtualGamePad.Shared/obj
